<!-- <div>

    <div class="row mx-4">

        <div class="col-sm-3">
            <div class="card rowFooterWidth" style="border-radius: 15px;" >
                <img src="../../../assets/footer/100.jpg" 
                style="object-fit: cover;border-radius: 15px;"
                class="image-fit borderRadius20"
                 width="auto"
                  height="300"
                  class="card-img-top"
                   alt="...">
              </div>
        </div>


        <div class="col-sm-3">
            <div class="card borderRadius15 rowFooterWidth" >
                <img src="../../../assets/footer/200.jpg" 
                style="object-fit: cover;border-radius: 15px;"
                 class="objFit borderRadius20"
                  width="auto" height="300" 
                  class="card-img-top" 
                  alt="...">
              </div>
        </div>


        <div class="col-sm-3">
            <div class="card borderRadius15 rowFooterWidth">
                <img src="../../../assets/footer/300.jpg" 
                style="object-fit: cover;border-radius: 15px;"
                class=" objFit  borderRadius20" 
                width="auto" height="300"
                 class="card-img-top"
                  alt="...">
              </div>
        </div>


        <div class="col-sm-3">
            <div class="card borderRadius15 rowFooterWidth">
                <img src="../../../assets/footer/400.jpg"
                style="object-fit: cover;border-radius: 15px;"
                  width="auto" 
                  height="300"
                   class="card-img-top" alt="...">
              </div>
        </div>

    </div>


    <hr>


    <div class="mx-4 p-2">
        <div class="row">
            <div class="col-sm-6">
                <i class="fa fa-copyright" aria-hidden="true"></i>
                <span class="mx-3">
                    <span style="font-weight: 600;">2022</span>
                    MARVELDOTS
                </span>
            </div>
            <div class="col-sm-6">
                <div style="float: right;">
                    
                    <a href="" >
                        <i class="fa fa-pinterest text-dark" style="margin-right: 10px;" aria-hidden="true"></i>
                    </a>

                   <a href="">
                    <i class="fa fa-instagram text-dark" aria-hidden="true"></i>
                   </a>
                </div>
            </div>
        </div>
    </div>

</div> -->