<div class="mt-2" >

  <div class="page-wrapper" >
    <div class="nav-wrapper">
     <!-- <div class="grad-bar"></div> -->
     <nav class="navbar">
       <img src="../../../assets/Logo/Marvel Dots Logo-01.webp" alt="Company Logo">
       <div class="menu-toggle" id="mobile-menu">
         <span class="bar"></span>
       </div>
       <ul class="nav no-search" style="margin-left: 20%;">
         <li class="nav-item mx-4"><a routerLink="/">HOME</a></li>
         <li class="nav-item mx-4"><a routerLink="about">ABOUT</a></li>
         <li class="nav-item mx-4"><a routerLink="service">SERVICE</a></li>
         <li class="nav-item mx-4"><a routerLink="portfolio">PORTFOLIO</a></li>
         <li class="nav-item mx-4"><a routerLink="/">SHOP</a></li>
         <li class="nav-item "><a routerLink="contact">CONTACT</a></li>
       </ul>
     </nav>
     </div>
   </div>

</div>


<!-- ======================= -->

