<div class="portfolioDiv001" >

</div>



    <div class="row">

        <div class="col-sm-6" >
           <div style="margin-left: 40px;">
                <!-- FORM START -->
            <p style="font-size: 40px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;font-style:  italic;">
                Client Application
            </p>
            <p>
                Akash singh and Sandeep Kumar  were both drawn to Photography, film and design at an early age, but didn’t combine their talents until 2017 when the 
            </p>
         

                <form>
                    <div class="form-row">
                      <div class="col-md-10 mb-3">
                        <input 
                        type="text"
                        class="form-control fcchanages"
                        id="validationDefault01"
                        placeholder="First and last name" 
                        required>
                      </div>
                      </div>

                      <div class="form-row marginTopNew" >
                        <div class="col-md-10 mb-3">
                          <input 
                          type="email"
                          class="form-control fcchanages"
                          id="validationDefault01"
                          placeholder="email" 
                          required>
                        </div>
                        </div>

                        <div class="form-row marginTopNew" >
                            <div class="col-md-10 mb-3">
                              <input 
                              type="text"
                              class="form-control fcchanages"
                              id="validationDefault01"
                              placeholder="business name" 
                              required>
                            </div>
                            </div>

                            <div class="form-row marginTopNew" >
                                <div class="col-md-10 mb-3">
                                  <input 
                                  type="text"
                                  class="form-control fcchanages"
                                  id="validationDefault01"
                                  placeholder="website name (if u have any)" 
                                  required>
                                </div>
                                </div>

                                <div class="form-row marginTopNew" >
                                    <div class="col-md-10 mb-3">
                                      <input 
                                      type="text"
                                      class="form-control fcchanages"
                                      id="validationDefault01"
                                      placeholder="instagram handle" 
                                      required>
                                    </div>
                                    </div>

                                   <div>
                                    <p style="font-weight: 600;color: black;">
                                        What Service are you interested in ? *
                                    </p>
                                    <div class="form-check">
                                        <input 
                                        class="form-check-input" 
                                        type="radio" 
                                        name="exampleRadios" 
                                        id="exampleRadios1" 
                                        value="option1" checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                          Brand Identity
                                        </label>
                                      </div>
                                      
                                      <div class="form-check">
                                        <input 
                                        class="form-check-input" 
                                        type="radio" 
                                        name="exampleRadios" 
                                        id="exampleRadios2" 
                                        value="option2">
                                        <label class="form-check-label" for="exampleRadios2">
                                         Brand + web design
                                        </label>
                                      </div>

                                      <div class="form-check">
                                        <input
                                         class="form-check-input"
                                        type="radio" 
                                        name="exampleRadios" 
                                        id="exampleRadios2"
                                         value="option2">
                                        <label class="form-check-label" for="exampleRadios2">
                                         business advertising
                                        </label>
                                    </div>

                                        <div class="form-check">
                                            <input 
                                            class="form-check-input" 
                                            type="radio" 
                                            name="exampleRadios"
                                             id="exampleRadios2"
                                              value="option2">
                                            <label class="form-check-label" for="exampleRadios2">
                                             Custom
                                            </label>
                                          </div>
                                      
                                   </div>

                                   <div class="form-group">
                                    <textarea 
                                    class="form-control fcchanages marginTopNew" 
                                    placeholder="Tell me more about your project...." 
                                    id="exampleFormControlTextarea1"
                                     rows="3"></textarea>
                                  </div>

                                  <div class="form-row marginTopNew" >
                                    <div class="col-md-10 mb-3">
                                      <input 
                                      type="text"
                                      class="form-control fcchanages"
                                      id="validationDefault01"
                                      placeholder="How did you Here about us ?" 
                                      required>
                                    </div>
                                    </div>
    

                                    <div>
                                        <button class="button">SUBMIT</button>
                                    </div>
    

                  </form>
                         <!-- FORM ENDING -->
           </div>
        </div>


        <div class="col-sm-6">

          <div class="" style="margin-left: 120px;">
            <div class="card border border-0 borderRadius20" 
            style="max-width: 22rem;margin-top: 20%;background-color: whitesmoke ;padding: 10px;">
                <img src="../../../assets/Logo/Marvel Dots Logo-01.webp"  alt="">
              </div>

              <p style="font-size: 40px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-style: italic;">
                Other Info
               
            </p>

            <p  style="font-size: 14px;width: 70%;" >
                    diverse talents and artistic perspectives to every project Marveldots 
                   strives to provide their clients with the image 
                   and recognition that they deserve.
            </p>

          </div>

        </div>

    </div>


    
                  <!-- COPY-RIGHT  -->
                 
                  <div class="mx-4 p-2 mt-5">
                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <i class="fa fa-copyright" aria-hidden="true"></i>
                            <span class="mx-3">
                                <span style="font-weight: 600;">2022</span>
                                MARVELDOTS
                            </span>
                        </div>
                        <div class="col-sm-6">
                            <div style="float: right;">
                                
                                <a href="" >
                                    <i class="fa fa-pinterest text-dark" style="margin-right: 10px;" aria-hidden="true"></i>
                                </a>
            
                               <a href="">
                                <i class="fa fa-instagram text-dark" aria-hidden="true"></i>
                               </a>
                            </div>
                        </div>
                    </div>
                </div>
                  <!-- COPY-RIGHT  FINISH-->