<div class="aboutDiv001">

        <div class="row">

            <div class="col-sm-6">
               <div>
                    <div class="row center-div">

                        <button class="mb-5" style="border-radius: 50%;padding: 40px;">
                            <h2>meet the DESIGNER</h2>
                        </button>

                        <div class="col-sm-4">
                            <div class="card borderRadius100" style="max-width: 13rem;">
                                <img class="image-fit borderRadius100" src="../../../assets/about/004.jpg" height="500px"  alt="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card borderRadius100" style="max-width: 13rem;">
                                <img class="image-fit borderRadius100" src="../../../assets/about/005.jpg" height="500px"  alt="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card borderRadius100" style="max-width: 13rem;">
                                <img class="image-fit borderRadius100" src="../../../assets/about/006.jpg" height="500px"  alt="">
                            </div>
                        </div>
                    </div>
               </div>
            </div>


            <div class="col-sm-6" >

                <div class="text-center" >
                    <h1 class=" about003" style="font-family: 'Libre Baskerville', serif;">HEY,MARVELDOTS</h1>

                   <div class="card border-0" style="max-width: 36rem;background-color: transparent;margin: auto;">
                    <div class="card-text">
                        Our main mission is to not only provide you with comprehensive 
                        design that brings your idea to life, but to also ensure 
                        you are confident and empowered to use it and show it off. 
                        We’ll collaborate with research and strategy, then I’ll
                        take the reins to create a visual experience that elevates your
                        business from your competitors, speaks to your audience, and allows
                        you to get back to what you do best.
                    </div>

                    <div class="card-text mt-2 fontsize14" >
                        <hr>
                       <p>
                        <span><h5>Akash singh and Sandeep Kumar ,</h5></span>  were both drawn to Photography, 
                        film and design at an early age, but didn’t combine their talents until 2017 when the duo
                        founded a Marveldots studio with the goal of fusing these creative avenues. The pair has
                        found a niche in linking a personal and unique aesthetic to the world’s most talented and
                        iconic artists, brands, and businesses. 

                        With dynamically different skill sets ranging from fine art to film production,
                        Akash and Sandeep bring diverse talents and artistic perspectives to every project.
                        Marveldots strives to provide their clients with the image and recognition that they deserve
                        
                        Our craft is producing photo and video content with the highest production values. 
                        With talented staff members including Designers, Photographers, videographers, Make up Artist,
                        Hair Stylist and Fashion Stylist, Marveldots is the biggest creative outsourcing company in India
                        to move into  e-commerce and fashion.
                        
                       </p>
                    </div>

                   </div>
                </div>

            </div>

           
        </div>
        <!-- FINISH   -->



        
        <div style="position: relative;background-color: #FCF0F7;" >

           <div class="container mt-4">

            <div class="row">


                <div class="col-sm-6 mt-5">

                            <h1 class="demo">I AM</h1>
                            <h1 class="demo">YOUR</h1>
                            <h1 class="demo">DESIGNER</h1>

                            <div class="mt-3">
                                <p>
                                    were both drawn to Photography, film and design at an early age, but didn’t combine 
                                    their talents until 2017 when the duo founded a Marveldots studio with the goal of fusing
                                     these creative avenues. The pair has found a niche in linking a personal and unique aesthetic
                                     to the world’s most talented and iconic artists, brands, and businesses. With dynamically
                                </p>
                            </div>

                </div>
                <div class="col-sm-6 mt-5">
                    <div style="margin: auto;float: right;">
                       <div class="card borderRadius20" style="width: 25rem;">
                        <img class=" image-fit card-img-top borderRadius20" src="../../../assets/about/mens2.jpg" height="450" alt="Card image cap">
                       </div>
                    </div>
                </div>

            </div>

           </div>





           <!-- SHORT STORY START -->
           
           <div class="container mt-4">

            <div class="row">

                <div class="col-sm-6 mt-5">
                    <div style="margin: auto;">
                       <div class="card borderRadius20" style="width: 25rem;">
                        <img class="card-img-top borderRadius20 image-fit" src="../../../assets/about/mens.jpg" height="450" alt="Card image cap">
                       </div>
                    </div>
                </div>


                <div class="col-sm-6 " style="margin-top: 15%;">

                            <h1 class="ss">SHORT STORY</h1>

                            <div class="mt-3">
                                <p>
                                    were both drawn to Photography, film and design at an early age, but didn’t combine 
                                    their talents until 2017 when the duo founded a Marveldots studio with the goal of fusing
                                </p>

                                <p class="blockquote-footer mt-2">
                                    were both drawn to Photography, film and design at an early age, but didn’t combine 
                                </p>

                                <p>
                                   film and design at an early age, but didn’t combine 
                                    their talents until 2017 when the duo founded a Marveldots studio with the goal of fusing
                                </p>
                            </div>

                            <div>
                                <button class="button">LET'S TALK</button>
                            </div>

                </div>
               

            </div>

           </div>
           <!-- SHORT STORY ENDING   -->



 <!-- //FOOTER START-->
    <div style="margin-top:10%;">
        <div class="row mx-4">
    
            <div class="col-sm-3">
                <div class="card rowFooterWidth" style="border-radius: 15px;" >
                    <img src="../../../assets/footer/100.jpg" 
                    style="object-fit: cover;border-radius: 15px;"
                    class="image-fit borderRadius20"
                     width="auto"
                      height="300"
                      class="card-img-top"
                       alt="...">
                  </div>
            </div>
    
    
            <div class="col-sm-3">
                <div class="card borderRadius15 rowFooterWidth" >
                    <img src="../../../assets/footer/200.jpg" 
                    style="object-fit: cover;border-radius: 15px;"
                     class="objFit borderRadius20"
                      width="auto" height="300" 
                      class="card-img-top" 
                      alt="...">
                  </div>
            </div>
    
    
            <div class="col-sm-3">
                <div class="card borderRadius15 rowFooterWidth">
                    <img src="../../../assets/footer/300.jpg" 
                    style="object-fit: cover;border-radius: 15px;"
                    class=" objFit  borderRadius20" 
                    width="auto" height="300"
                     class="card-img-top"
                      alt="...">
                  </div>
            </div>
    
    
            <div class="col-sm-3">
                <div class="card borderRadius15 rowFooterWidth">
                    <img src="../../../assets/footer/400.jpg"
                    style="object-fit: cover;border-radius: 15px;"
                      width="auto" 
                      height="300"
                       class="card-img-top" alt="...">
                  </div>
            </div>
    
        </div>
    
    
        <hr>
    
    
        <div class="mx-4 p-2">
            <div class="row">
                <div class="col-sm-6">
                    <i class="fa fa-copyright" aria-hidden="true"></i>
                    <span class="mx-3">
                        <span style="font-weight: 600;">2022</span>
                        MARVELDOTS
                    </span>
                </div>
                <div class="col-sm-6">
                    <div style="float: right;">
                        
                        <a href="" >
                            <i class="fa fa-pinterest text-dark" style="margin-right: 10px;" aria-hidden="true"></i>
                        </a>
    
                       <a href="">
                        <i class="fa fa-instagram text-dark" aria-hidden="true"></i>
                       </a>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <!-- FOOTER END -->




        </div>
         

</div>


