

<header>
    <div class="header">
  
      <div class="video-container">
        <video autoplay loop muted id="video-bg">
  
          <source src="../../../assets/Front-page-video/FRONT PAGE VIDEO.mov" type="video/mp4">
  
        </video>
      </div>
    </div>
    <div class="overlay">
        <h2>MARVELDOTS
             <br>  
             <p style="font-size: 25px;"> ABSOLUT CREATIVE</p>
        </h2>
      </div>
  </header>



  <!-- ========================== -->

  <div class="container-fluid code001 pb-5">

        <div class="row mx-4">

            <div class="col-md-4 mt-5">
                <div class="card-body p-0 ">
                    <div class="card borderRadius10" style="width: 22rem;">
                        <div class="card-body p-0 ">
                            <img src="../../../assets/Home-Page-images/boy images.jpg" class="card-img-top borderRadius10" alt="...">
                        </div>
                    </div>
                </div>

                <div class="mt-5">
                      <div class="borderRadius10 p-4" style="background-color: #D2FFF9;opacity: 0.5;">
                        <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;color: darkslategray;">
                            around the globe to all dreamers around the world
                        </p>
                      </div>
                </div>
               </div>
    
    
            <div class="col-md-8 code">
                   <div class="code003">
                    <h1>
                        Hi! it's 
                        <span 
                        style="font-weight: 900;
                                color: #CB4335;
                                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                            MARVELDOTS
                        </span>!
                    </h1>

                    <p class="fontFamily001">
                        I am so happy to see you Here !
                    </p>

                    <p style="width: 75%;" class="fontFamily001">
                        pactful and visually compelling brand experiences for new and established businMarveldots
                         is a multidisciplinary and worldwide design studio specializing in creating imesses around the globe
                            to all dreamers around the world
                    </p>
                   </div>


                   <div class="row">

                    <div class="col-sm-3">
                        <div>
                            <img src="../../../assets/Home-Page-images/arrow images.png" width="200px" height="400px" alt="">
                        </div>
                    </div>
                        <div class="col-sm-9 mt-4">

                            <!-- <div id="oval_parent" style="margin-left: 180px;">
                                <div id="oval">
                                    <p class="text-center mt-3" style="font-size: 35px;font-family: 'Times New Roman', Times, serif;font-style: italic;">
                                        About us
                                    </p>
                                </div>
                            </div> -->

                            <button  class="button button5 fontFamily001" style="border-radius: 50%;float:right;">
                                About me
                            </button>

                        <div>
                           <div style="margin-top: 100px;">
                            <img src="../../../assets/Home-Page-images/PORTFOLIO PIC.jpeg" class="borderRadius20" max-width="700px" height="300" alt="">
                            <p class="fontFamily001" style="max-width: 90%;padding: 5px;color: #212F3D;">
                                Our main mission is to not only provide you with comprehensive design that
                                Brings your idea to life, but to also ensure you are confident and empowered
                                To use it and show it off. 
                            </p>
                        </div>
                        </div>

                    </div>

                </div>


            </div>

    </div>



    <!-- SERVICES START-->
    <div class="mx-4" >
        <div class="row sticky">

            <div style="margin-top: 60px;" >
                <p>
                   <span class="fontsize35 fontFamily002 fontstyle-italic" > The</span>
                    <span class="services">
                        SERVICES
                    </span>
                </p>
               
            </div>

            <div class="col-sm-6">
            </div>

            <div class="col-sm-6"></div>
        </div>

        <div class="sticky text-primary font-weight-bold">
            <div class="row">
             <div class="col">
                 <img src="../../../assets/Home-Page-images/PHOTOGRAPHY.jpeg"  class="image-fit imageDimensions borderRadius20"
                  style="margin-top: 190px;margin-left: 80px;"   
                     alt=""> 
             </div>
             <div  class="col">
                 <p style="float: right;margin-top: 190px;margin-left: 80px;"> 
                    PHOTOGRAPHY
                 </p>
             </div>
            </div> 
         </div>

         <div class="sticky text-primary font-weight-bold">
            <div class="row">
                <div class="col">
                    <img src="../../../assets/Home-Page-images/BRAND&WEB DESIGN.jpeg"  class="image-fit imageDimensions borderRadius20"
                     style="margin-top: 210px;margin-left: 100px;"   
                        alt=""> 
                </div>
                <div  class="col">
                    <p style="float: right;margin-top: 210px;margin-left: 100px;"> 
                        BRAND&WEB DESIGN
                    </p>
                </div>
               </div> 
        </div>
        
        <div class="sticky text-primary font-weight-bold">
            <div class="row">
                <div class="col">
                    <img src="../../../assets/Home-Page-images/IMAGE EDITING.jpg"  class="image-fit imageDimensions borderRadius20"
                     style="margin-top: 230px;margin-left: 120px;"   
                        alt=""> 
                </div>
                <div  class="col">
                    <p style="float: right;margin-top: 230px;margin-left: 120px;"> 
                        IMAGE EDITING
                    </p>
                </div>
               </div>   
        </div>

        

        <div class="sticky text-primary font-weight-bold">
            <div class="row">
             <div class="col">
                 <img src="../../../assets/Home-Page-images/ANIMATION.jpg"  class="image-fit imageDimensions borderRadius20"
                  style="margin-top: 250px;margin-left: 140px;"   
                     alt=""> 
             </div>
             <div  class="col">
                 <p style="float: right;margin-top: 250px;margin-left: 140px;"> 
                     Hello Design
                 </p>
             </div>
            </div> 
         </div>
        
        <div class="sticky text-primary font-weight-bold">
            <div class="row">
                <div class="col">
                    <img src="../../../assets/Home-Page-images/BUSINESS&ADVERTISMENT.jpeg"  class="image-fit imageDimensions borderRadius20"
                     style="margin-top: 270px;margin-left: 160px;"   
                        alt=""> 
                </div>
                <div  class="col">
                    <p style="float: right;margin-top: 270px;margin-left: 160px;"> 
                        Hello Design
                    </p>
                </div>
               </div>   
        </div>
        
      

        <div class="sticky text-primary font-weight-bold ">
            <div class="row">
                <div class="col">
                    <img src="../../../assets/Home-Page-images/VIDEO EDITING.jpg"  class="image-fit imageDimensions borderRadius20"
                     style="margin-top: 290px;margin-left: 180px;"   
                        alt=""> 
                </div>
                <div  class="col">
                    <p style="float: right;margin-top: 290px;margin-left: 180px;"> 
                        Hello Design
                    </p>
                </div>
               </div> 
        </div>
        
    </div>
    <!-- SERVICE END -->


    






    <!-- LEARN MORE START -->
  <div class="mx-4" style="margin-top: 10%;">


    


    <div class="row">


        <div>
            <button  class="button button5 fontFamily001" style="border-radius: 50%;float:right;">
               Learn more
            </button>
        </div>
    
        
        <div class="col-sm-4">
            <div class="card text-center cont0020 card0010 borderRadius10">
                <div class="card-body ">
                  <h5 class="card-title">
                      <div class="text-center">
                        <i class="fa fa-quote-left" style="font-size:24px;color: #CD5C5C;"></i>
                      </div>
                  </h5>
                  <p class="card-text fontFamily001">
                    The images of this category are comparatively a little bit tougher.
                     Multiple objects are located in a single photo and the designer
                      has to work with different aspects including color, opacity, 
                      contrast, and more. Besides clipping path these additional tasks
                      are time-consuming.
                    </p>
                    <h4 class="text-center fontFamily001">AMANDA</h4>
                </div>
              </div>
        </div>

        <div class="col-sm-4">
            <div class="card text-center cont0020 card0010 borderRadius10">
                <div class="card-body ">
                  <h5 class="card-title">
                      <div class="text-center">
                        <i class="fa fa-quote-left" style="font-size:24px;color: #CD5C5C;"></i>
                      </div>
                  </h5>
                  <p class="card-text fontFamily001">
                    The images of this category are comparatively a little bit tougher.
                     Multiple objects are located in a single photo and the designer
                      has to work with different aspects including color, opacity, 
                      contrast, and more. Besides clipping path these additional tasks
                      are time-consuming.
                    </p>
                    <h4 class="text-center fontFamily001">
                        SAARA
                    </h4>
                </div>
              </div>
        </div>

        <div class="col-sm-4">
            <div class="card text-center cont0020 card0010 borderRadius10">
                <div class="card-body ">
                  <h5 class="card-title">
                      <div class="text-center">
                        <i class="fa fa-quote-left" style="font-size:24px;color: #CD5C5C;"></i>
                      </div>
                  </h5>
                  <p class="card-text fontFamily001">
                    The images of this category are comparatively a little bit tougher.
                     Multiple objects are located in a single photo and the designer
                      has to work with different aspects including color, opacity, 
                      contrast, and more. Besides clipping path these additional tasks
                      are time-consuming.
                    </p>
                    <h4 class="text-center fontFamily001"> 
                        JONE
                    </h4>
                </div>
              </div>
        </div>
    </div>
  </div>
    <!-- LEARN MORE ENDING -->







    <!-- ELIPSE CIRCULAR IMAGE SATRT -->
    <div class="text-center mt-5" >
        <!-- <section style="border-radius: 41% 59% 61% 39% / 31% 35% 65% 69%  ; height: 312px;width: 413px;background-color: #F1C40F;">
        </section> -->
        <img src="../../../assets/Home-Page-images/new Text circle.JPG"  alt="">
    </div>
  

    <div class="text-center " style="margin: auto;width: 40%;" >
        <p class="fontFamily001">
            The Alpha Channel masking service is the only way to mask the furry
            or hairy portion of a photo. Actually, because of the too much density of a fury area
        </p>

        <button class="button">LET'S TALK</button>
    </div>
  <!-- ELIPSE CIRCULAR IMAGE ENDING -->


    

  <!-- SIGN-UP START -->
    <div class="row mx-4" style="margin-top: 8%;" >

        <div class="row mt-5">

            <div class="col-sm-6">
                <span class="services">
                    SIGN UP
                </span>
                <br>
                <span style="font-size: 14px;">
                    Sign up and be the first to know about new products
                </span>

                <!-- SEARCH EMAIL -->
                <div class="mt-5" style="max-width: 70%; ">
                    <form class="example" action="/action_page.php">
                      <input type="text" placeholder="Search.." name="search">
                      <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>


            <div class="col-sm-6">

                <div class="text-center">
                    <img src="../../../assets/Logo/Marvel Dots Logo-01.webp"  alt="">
                </div>

                <div class="text-center">
                    <p style="font-size: 70px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;padding: 0px;">
                        MARVELDOTS
                    </p>
                    <p style="font-weight: 600;">
                       DESIGN/STUDIO<br>
                       FOR EVERYONE BUT NOT ANYONE 
                    </p>
                </div>

            </div>
        </div>

    </div>
    <!-- SIGN UP ENDING -->



  </div>
  <!-- END OF CONTAINER   -->

<!-- //DUMMY
  <div style="height: 600px;width: 700;background-color: #CB4335;">
    <h1>HOLA</h1>
</div> -->